@media(max-width: 1400px){
    .project-screenshot {
        width: 46%;
        height: auto;
        border-radius: 30px;
    }
}

@media(max-width: 1200px){
    .project-box {
        width: 100%;
        height: 656px;
        border-radius: 30px;
        border: 1px solid rgb(61, 207, 182);
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        padding: 40px;
        position: relative;
        display: flex;
        align-items: center;
        .box-content {
            display: flex;
            align-items: center;
            gap: 50px;
        }
        .project-number {
            font-family: "Karla";
            font-size: 100px;
            font-weight: 700;
            line-height: 100px;
            letter-spacing: -0.02em;
            text-align: left;
            margin-bottom: 24px;
            color: rgb(61, 207, 182);
        }
    }
}

@media(max-width: 1000px){
    .project-box {
        width: 100%;
        height: 656px;
        border-radius: 30px;
        border: 1px solid rgb(61, 207, 182);
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        padding: 40px;
        position: relative;
        display: flex;
        align-items: center;
        .project-header {
            font-size: 16px;
        }
        .project-title {
            font-family: "Fira Code";
            font-size: 56px;
            font-weight: 700;
            line-height: 51.2px;
            letter-spacing: -0.03em;
            text-align: left;
            margin-bottom: 24px;
        }
    }
}

@media(max-width: 850px){

    main {
        padding:16px;

        .project-box {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            border: 1px solid rgb(61, 207, 182);
            background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
            padding: 16px;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow: scroll;
            
            .close-section {
                width: 100%;
                display: flex;
                justify-content: end;
                margin-bottom: 31px;

                .closeBox {
                    width: 48px;
                    height: 48px;
                    position: relative;
                    top: unset;
                    right: unset;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .box-content {
                display: flex;
                align-items: center;
                gap: 32px;
                flex-direction: column-reverse;
    
                .project-details {
                    max-width: 100%;
    
                    .project-number {
                        font-size: 72px;
                        line-height: 72px;
                        letter-spacing: -0.02em;
                    }
    
                    .project-title {
                        font-size: 56px;
                        line-height: 44.8px;
                        letter-spacing: -0.03em;
                    }

                    .project-header {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    .description {
                        font-size: 16px;
                        line-height: 19.2px;
                    }
                }
    
                .project-screenshot {
                    width: 70%;
                    height: auto;
                }

                .project-links {
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 25px;
                }
            }

            .next-section {
                width: 100%;
                display: flex;
                justify-content: end;
                margin-bottom: 31px;
                
                .next-project {
                    position: relative;
                    bottom: unset;
                    right: 0px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    --arrow-left: 0;
                }
            }
        }
    }
}