@media(max-width: 1060px) {
    main[_ngcontent-ng-c3262672022] {
        
        padding: 0 32px 0;
        gap: 49px;
    }
}

@media(max-width: 840px) {
    main[_ngcontent-ng-c3262672022] {
        flex-direction: column;
        padding: 0 16px 0;
    }

    .request-to-call {
        max-width: 100%;
    }

    .formular-label {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }

    .formular-row {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 100%;
    }

    .box-header {
        font-size: 42px;
        line-height: 43px;
        letter-spacing: -0.02em;
    }
}