<main id="contact-me">
    <section class="request-to-call">
     <div class="box-label">{{'CONTACT-ME.invitation-to-contact-me.topic' | translate}}</div>
     <h2 class="box-header">{{'CONTACT-ME.invitation-to-contact-me.header' | translate}}</h2>
     <h3 class="header">{{'CONTACT-ME.invitation-to-contact-me.question-1' | translate}}</h3>
     <p>{{'CONTACT-ME.invitation-to-contact-me.text' | translate}}</p>
     <p>{{'CONTACT-ME.invitation-to-contact-me.question-2' | translate}} <span>{{'CONTACT-ME.invitation-to-contact-me.letsTalk' | translate}}</span></p>
    </section>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <section class="striped-list" [class.striped-list-hovered]="isTextHovered">
            <!-- Name -->
            <div class="striped-list-row formular-row" id="row-1">
                <label class="formular-label" for="name">{{'CONTACT-ME.formular.name.label' | translate}}</label>
                <div class="input-container">
                    <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    [(ngModel)]="contactData.name" 
                    #name="ngModel"
                    [placeholder]="name.invalid && (name.touched || contactForm.submitted) ? ('CONTACT-ME.formular.name.error.required' | translate) : ('CONTACT-ME.formular.name.placeholder' | translate)"
                    autocomplete="name"
                    required
                    [ngClass]="{'input-error': name.invalid && (name.touched || contactForm.submitted)}"
                    >
                </div> 
            </div>

            <hr class="striped-list-line" #underName id="under-name" [style.opacity]="isEmailHovered ? '1' : '0.5'">

            <!--E-Mail -->
            <div class="striped-list-row formular-row" id="row-2"
                 (mouseover)="isEmailHovered = true"
                 (mouseout)="isEmailHovered = false">
                <label class="formular-label" for="email">{{'CONTACT-ME.formular.email.label' | translate}}</label>
                <div class="input-container">
                    <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    [(ngModel)]="contactData.email" 
                    #email="ngModel"
                    [placeholder]="email.invalid && (email.touched || contactForm.submitted) ? 
                        (email.errors?.['required'] ? ('CONTACT-ME.formular.email.error.required' | translate) : 
                        (email.errors?.['pattern'] ? ('CONTACT-ME.formular.email.error.pattern' | translate) : 
                        ('CONTACT-ME.formular.email.placeholder' | translate))) : 
                        ('CONTACT-ME.formular.email.placeholder' | translate)" 
                    [pattern]="emailPattern"
                    autocomplete="email"
                    required
                    [ngClass]="{'input-error': email.invalid && (email.touched || contactForm.submitted)}"
                    >
                    <div *ngIf="email.invalid && (email.touched || contactForm.submitted)" class="info-mail-input speech-bubble round">
                        {{'CONTACT-ME.formular.email.error.bubble' | translate}}
                    </div>
                </div>
            </div>

            <hr class="striped-list-line" #underEmail id="under-email" [style.opacity]="isEmailHovered ? '1' : '0.5'">
            <!--Message -->
            <div class="striped-list-row formular-row" id="row-3" (mouseover)="isTextHovered = true"
            (mouseout)="isTextHovered = false">
                <label class="formular-label" for="message">{{'CONTACT-ME.formular.message.label' | translate}}</label>
                <div class="input-container">
                    <input 
                    type="text" 
                    name="message" 
                    id="message" 
                    [(ngModel)]="contactData.message" 
                    #message="ngModel" 
                    minlength="4" 
                    [placeholder]="message.invalid && (message.touched || contactForm.submitted) ? ('CONTACT-ME.formular.message.error.required' | translate) : ('CONTACT-ME.formular.message.placeholder' | translate)" 
                    autocomplete="off"
                    required
                    [ngClass]="{'input-error': message.invalid && (message.touched || contactForm.submitted)}"
                    >
                    
                </div>
            </div>
        </section>

        <section class="confirmation-privacy">
            <div class="btn-text">
                <label class="custom-checkbox">
                    <input 
                        type="checkbox" 
                        name="privacyPolicyAccepted" 
                        id="checkbox"
                        [(ngModel)]="contactData.privacyPolicyAccepted"
                        #privacyPolicy="ngModel"
                        autocomplete="off"
                        required 
                    >
                    <span class="checkmark"></span>
                </label>
                <div class="request-to-check"> 
                    {{'CONTACT-ME.formular.privacy-policy.text-1' | translate}} 
                    <a (click)="openPrivacyPolicy($event)">{{'CONTACT-ME.formular.privacy-policy.text-2' | translate}}</a> 
                    {{'CONTACT-ME.formular.privacy-policy.text-3' | translate}}
                </div>
            </div>
            <!-- Fehlermeldung für Checkbox -->
            <div class="error-section-checkbox">
               <div *ngIf="privacyPolicy.invalid && (privacyPolicy.touched || contactForm.submitted)" class="error-checkbox">
                   {{'CONTACT-ME.formular.privacy-policy.error' | translate}}
               </div>
            </div>
            

            <div class="btn-send-hello-section">
                <button href="submit" class="btn-send-hello" [ngClass]="{'active-border': contactForm.valid && contactData.privacyPolicyAccepted}">
                    <div class="button_inner">
                      <span data-text="Say hello ;&#41;">{{'CONTACT-ME.formular.button' | translate}} ;&#41;</span>
                    </div>
                </button>
            </div>
        </section>
    </form>
</main>