<main>
    <section class="request-to-call">
     <div class="box-label">Contact me</div>
     <h2 class="box-header">Let's work together!</h2>
     <h3 class="header">Got a problem to solve?</h3>
     <p>Contact me through this formular, I am interessted in hearing from you, knowing your Ideas and contributing to your projects with my work.</p>
     <p>Need a Frontend developer? <span>Let's talk!</span></p>
    </section>
    <section class="striped-list">
        <div class="striped-list-row formular-row ">
            <h3 class="header">What's your name?</h3>
            <input type="text" placeholder="Your name goes here">
        </div>
        <hr class="striped-list-line">
        <div class="striped-list-row formular-row ">
            <h3 class="header">What's your email?</h3>
            <input type="text" placeholder="youremail@email.com">
        </div>
        <hr class="striped-list-line">
        <div class="striped-list-row formular-row ">
            <h3 class="header">How can I help you?</h3>
            <input type="text" placeholder="Hallo Richard, I am interested in...">
        </div>
    </section>
</main>
