<main>
    <section class="request-to-call">
     <div class="box-label">{{'CONTACT-ME.invitation-to-contact-me.topic' | translate}}</div>
     <h2 class="box-header">{{'CONTACT-ME.invitation-to-contact-me.header' | translate}}</h2>
     <h3 class="header">{{'CONTACT-ME.invitation-to-contact-me.question-1' | translate}}</h3>
     <p>{{'CONTACT-ME.invitation-to-contact-me.text' | translate}}</p>
     <p>{{'CONTACT-ME.invitation-to-contact-me.question-2' | translate}} <span>{{'CONTACT-ME.invitation-to-contact-me.letsTalk' | translate}}</span></p>
    </section>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <section class="striped-list" [class.striped-list-hovered]="isTextHovered">
            <!-- Name -->
            <div class="striped-list-row formular-row" id="row-1">
                <label class="formular-label" for="name">{{'CONTACT-ME.formular.name.label' | translate}}</label>
                <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    [(ngModel)]="contactData.name" 
                    [placeholder]="'CONTACT-ME.formular.name.placeholder' | translate" 
                    autocomplete="name"
                    required
                >
            </div>
    
            <hr class="striped-list-line" #underName id="under-name" [style.opacity]="isEmailHovered ? '1' : '0.5'">
            <!--E-Mail -->
            <div class="striped-list-row formular-row" id="row-2"
                 (mouseover)="isEmailHovered = true"
                 (mouseout)="isEmailHovered = false">
                <label class="formular-label" for="email">{{'CONTACT-ME.formular.email.label' | translate}}</label>
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    [(ngModel)]="contactData.email" 
                    [placeholder]="'CONTACT-ME.formular.email.placeholder' | translate" 
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                    autocomplete="email"
                    required
                >
            </div>
    
            <hr class="striped-list-line" #underEmail id="under-email" [style.opacity]="isEmailHovered ? '1' : '0.5'">
            <!--Message -->
            <div class="striped-list-row formular-row" id="row-3" (mouseover)="isTextHovered = true"
            (mouseout)="isTextHovered = false">
                <label class="formular-label" for="message">{{'CONTACT-ME.formular.message.label' | translate}}</label>
                <input 
                    type="text" 
                    name="message" 
                    id="message" 
                    [(ngModel)]="contactData.message" 
                    minlength="4" 
                    #message="ngModel" 
                    [placeholder]="'CONTACT-ME.formular.message.placeholder' | translate" 
                    autocomplete="off"
                    required>
            </div>
        </section>
        <section class="confirmation-privacy">
            <div class="btn-text">
                <label class="custom-checkbox">
                    <input 
                        type="checkbox" 
                        name="privacyPolicyAccepted" 
                        id="checkbox"
                        [(ngModel)]="contactData.privacyPolicyAccepted"
                        autocomplete="off"
                        required 
                    >
                    <span class="checkmark"></span>
                </label>
                <div class="request-to-check"> {{'CONTACT-ME.formular.privacy-policy.text-1' | translate}} <a>{{'CONTACT-ME.formular.privacy-policy.text-2' | translate}}</a> {{'CONTACT-ME.formular.privacy-policy.text-3' | translate}}</div>
            </div>
            <div class="error-checkbox">{{'CONTACT-ME.formular.privacy-policy.error' | translate}}</div>
            <div class="btn-send-hello-section">
                <button href="#" class="btn-send-hello">
                    <div class="button_inner">
                      <span data-text="Say hello ;&#41;">{{'CONTACT-ME.formular.button' | translate}} ;&#41;</span>
                    </div>
                </button>
            </div>
            
        </section>
    </form>
   

</main>
