<main>
    <section>
        <article class="box-theme">
            <div class="box-label">{{ 'CAREER-TEASER.topic' | translate }}</div>
            <div class="article-box">
                <h2 class="box-header">{{ 'CAREER-TEASER.header' | translate }}</h2>
                <p class="box-article">{{ 'CAREER-TEASER.intro' | translate }}</p>
                <a routerLink="/lebenslauf" class="button">
                    <div class="button_inner">
                        <span [attr.data-text]="'CAREER-TEASER.btn' | translate">{{ 'CAREER-TEASER.btn' | translate }}</span>
                    </div>
                </a>
            </div>
        </article>
    </section>
</main>
