@import './../../../styles.scss';

main {
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
    height: 100%;
    width: 100%;
    max-width: 1440px;
    background-color: #1C1C1C;
    font-family: $base-font;
    color: white;
    padding: 0 96px 0;
    @include dja();
}

section {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;

    article {
        align-items: center;

        .box-label {
            width: 100%;
        }

        .article-box {
            width: 100%;
        }
    }
}
