@import './../../../styles.scss';

main {
    height: 100%;
    background-color: #1C1C1C;
    font-family: "Fira Code";
    color: white;
    padding: 0 112px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 96px;
}

.picture {
    position: relative;
    
    img {
        display: block;
        width: 100%;  // Damit das Bild vollständig sichtbar ist
        height: auto; // Das Verhältnis des Bildes bleibt erhalten
        position: relative;
        z-index: 1;   // Das Bild wird über dem SVG liegen
        border-radius: 30px;
    }

    svg {
        position: absolute;
        top: 46px;
        left: -46px;
        width: 100%;
        height: 100%;
        z-index: 0;   // SVG liegt unter dem Bild
        pointer-events: none;  // Das SVG ist nicht interaktiv
        
    }
    
}

#aboutMeBox{
   margin-top: 98px;
}

.box-row {
    display: flex;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.8);
    &:hover{
        color: rgb(255, 255, 255);
    }

}

.box-icon {
    display: flex;
    margin-right: 24px;
    width: 32px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
}

.row-article {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: justify;
    display: flex;
}



