@import './../../../styles.scss';

app-nav-bar{
    width: 100%;
    position: absolute;
    top: 0;
}

main {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    background: linear-gradient(90deg, #1C1C1C ,$base-color-dark );
    @include dja();
    flex-direction: column;
    font-family: $base-font;;
    color: white;
    overflow: hidden;
}

.hero {
    @include dja();
    flex-direction: column;
  
    h3{
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    h1 {
        font-family: 'Karla';
        font-size: 128px;
        font-weight: 700;
        line-height: 128px;
        letter-spacing: -0.02em;
        text-align: left;
    }
}

.link-work-contact {
    @include dja();
    gap: 48px;
    a {
        gap: 10px;
    }
}

.arrowToContent {
    position: absolute;
    left: 96px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1 !important;
}

.arrow {
    border: solid 1px $base-color;
    width: 30px;
    height: 48px;
    @include dja();
   border-radius: 32px;
   position: relative;
   svg {
    animation: MoveUpDown 1.4s linear infinite;
    position: absolute;
    left: 10px;
    top: 15px;
   }
   &:hover{
    cursor: pointer;
   }
   
}
  
@keyframes MoveUpDown{
  0%, 100%{
    top: 15px;
  }
  50%{
    top: 22px;
  }
}

.line {
    display: flex;
    justify-content: center;

    div{
        height: 240px;
        border: 0.1px solid $base-color;
    }
}

.social-media-mail {
    position: absolute;
    right: 0px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.mailadress {
    transform: rotate(270deg);
    display: flex;
    height: 30px;
    align-items: center;
    margin-bottom: 95px;
    text-decoration: none;
    color: #ffffff;
    &:hover{
        color: $base-color;
    }
    svg {
        display: none;
        rotate: 90deg;
        &:hover{
            path{
                fill: white;
            }
        }
    }
}

.social-media {
    display: flex;
    flex-direction: column;
}

.line-white {
    height: 186px;
    border: 1px solid;
}

#github {
    &:hover{
        svg{
            path{
                fill: #ffffff;
            }
        }
    }
}

#linkedIn {
    &:hover{
        svg{
            path{
                fill: #ffffff;
            }
        }
    }
}