@import './../../../styles.scss';

main {
    height: 100%;
    background-color: #1C1C1C;
    font-family: $base-font;
    color: white;
    padding: 0 96px 0 96px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    p {
        width: 50%;
    }
}

.project-name {
    font-family: $base-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;

}

.used-skills {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;

}

.separator {
    color: $base-color;
}

.striped-list {
    display: flex;
    gap: 72px;
    a {
        cursor: pointer;
    }
    a:hover {
        background-color: $base-color-dark;
    }
}

#join-row:hover  {
    #join {
        display: flex;
    }
}

.project-show {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
    div{
        position: relative;
        display: flex;
        flex-direction: column;
        img {
            display: block;
            width: 100%;  // Damit das Bild vollständig sichtbar ist
            height: auto; // Das Verhältnis des Bildes bleibt erhalten
            position: relative;
            z-index: 1;   // Das Bild wird über dem SVG liegen
            width: 296px;
            height: 192px;
        }
    
        svg {
            width: 296px;
            height: 192px;
            z-index: 0;   // SVG liegt unter dem Bild
            pointer-events: none;  // Das SVG ist nicht interaktiv 
            position: absolute;
        top: 20px !important;
        left: -20px;
        }
    }
}
