<main >
    <app-projects></app-projects>
    <div class="box-label">Portfolio</div>
    <h2 class="box-header">{{'PROJECTS.header' | translate}}</h2>
    <p class="box-article">{{'PROJECTS.text' | translate}}</p>
    <div class="list-section">
        <section class="striped-list">

            <!-- Join -->
            <a class="striped-list-row" id="join-row" href="#join"
            (mouseenter)="hoverIn(projectPreviews[0])" 
            (mouseleave)="hoverOut(projectPreviews[0])"
            (click)="projectComponent?.showProject(0)">
                <div class="project-name">
                    Join <app-project-link-icon></app-project-link-icon>
                </div>
                <div class="used-skills">
                    Javascript <span class="separator"> | </span> CSS <span class="separator"> | </span> HTML
                </div>
            </a>

            <hr class="striped-list-line" >

            <!-- El pollo Loco -->
            <a class="striped-list-row" id="elPolloLoco-row" href="#elPolloLoco" (mouseenter)="hoverIn(projectPreviews[1])" (mouseleave)="hoverOut(projectPreviews[1])" (click)="projectComponent?.showProject(1)">
                <div class="project-name">El Pollo Loco <app-project-link-icon></app-project-link-icon></div>
                <div class="used-skills"> Javascript <span class="separator"> | </span> CSS <span class="separator"> | </span> HTML</div>
            </a>

            <hr class="striped-list-line" >
            
            <!-- Da Bubble -->
            <a class="striped-list-row" id="daBubble-row" href="#daBubble" (mouseenter)="hoverIn(projectPreviews[2])" (mouseleave)="hoverOut(projectPreviews[2])" (click)="projectComponent?.showProject(2)">
                <div class="project-name">Da Bubble <app-project-link-icon></app-project-link-icon></div>
                <div class="used-skills">Angular <span class="separator"> | </span> Firebase <span class="separator"> | </span> TypeScript</div>
            </a>

            <hr class="striped-list-line" >

            <!-- Videoflix -->
            <a class="striped-list-row" id="videoflix-row" href="#videoflix" (mouseenter)="hoverIn(projectPreviews[3])" (mouseleave)="hoverOut(projectPreviews[3])" (click)="projectComponent?.showProject(3)">
                <div class="project-name">Videoflix <app-project-link-icon></app-project-link-icon></div>
                <div class="used-skills"> Django <span class="separator"> | </span> REST <span class="separator"> | </span> PostgreSQL <span class="separator"> | </span> Redis</div> 
            </a>
        </section>
        <section class="project-show">
            @for (preview of projectPreviews; track preview.id) {
                <div class="project" [id]="preview.id" [ngStyle]="preview">
                    <img [src]="preview.img" [alt]="preview.id">
                </div>
            }
        </section>
    </div>
</main>