<main>
    <div class="box-label">Portfolio</div>
    <h2 class="box-header">Featured Projects</h2>
    <p class="box-article">
        Explore a selection of my work here - Interact with projects to see my skills in action.
    </p>
    <section class="striped-list">
        <a class="striped-list-row">
            <div class="project-name">Join</div>
            <div class="used-skills">
                Angular <span class="separator"> | </span> Javascript <span class="separator"> | </span> HTML <span class="separator"> | </span> CSS
            </div>
        </a>
        <hr class="striped-list-line">
        <a class="striped-list-row">
            <div class="project-name">El Pollo Loco</div>
            <div class="used-skills">HTML <span class="separator"> | </span> CSS <span class="separator"> | </span> Javascript</div>
        </a>
        <hr class="striped-list-line">
        <a class="striped-list-row">
            <div class="project-name">Da Bubble</div>
            <div class="used-skills">Angular <span class="separator"> | </span> Firebase <span class="separator"> | </span> TypeScript</div>
        </a>
    </section>
</main>
