@import './../../../styles.scss';

@media(max-width: 1070px){
    main {
        .striped-list {
            .striped-list-row{
                flex-direction: column;
                gap: 0px;
                padding: 16px 0 16px 0;
                justify-content: center;
                padding: 32px;
            }
        }
        
    }
}

@media(max-width: 1000px) {
    main {
        .box-header {
            font-size: 56px;
        }
    }
}

@media(max-width: 850px) {
    main {
        height: 100%;
        background-color: #1C1C1C;
        font-family: "Fira Code";
        color: white;
        padding: 0 16px 0;
        display: flex;
        justify-content: start;
        flex-direction: column;
        p{
            width: 100%;
        }
        .box-header {
            font-size: 42px;
            line-height: 43px;
            letter-spacing: -0.02em;
        }
    }
    
    .box-article {
        width: 100%;
    }

    .project-show {
        display: none;
    }

    .striped-list-row{
        flex-direction: column;
        gap: 0px;
        padding: 16px 0 16px 0;
        justify-content: space-around;
    }

    #join {
        top: unset;
        display: none;
        position: relative;
    }
}

@media(max-width: 700px) {
    main {
        .box-header {
            font-size: 32px;
            line-height: 43px;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
        }
    }
}

@media(max-width: 550px) {
    main {
        .box-header {
            font-size: 24px;
            line-height: 43px;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
        }
        .box-label {
            margin-bottom: 8px;
        }
    }
}