@import './../../../../styles.scss';

nav {
    position: absolute;
    top: 48px;
    left: 96px;
    margin-right: 96px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
   
}

.menu {
  height: 50px;
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
}

.nav-links {
  position: absolute;
  left: 108px;
  top: 12px;
  display: flex;
  gap: 24px;
  width: max-content;
  
  a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      circle {
        fill:none;
      }
    }
  }

  a:hover svg {
    circle {
      fill: $base-color;
      transition: all .4s ease-in-out;
    }
  }
  
  a svg {
    display: flex; /* Versteckt das SVG standardmäßig */
  }
  
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
  }
  
  input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    cursor: pointer;
  }
  
  input[type="checkbox"].toggle + label::before {
    content: "";
    width: 84px;
    height: 28px;
    border-radius: 1em;
    border: #3DCFB6 solid 1px;
    transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
  }
  
  input[type="checkbox"].toggle + label:hover::before {
    border-color: white;
  }
  
  input[type="checkbox"].toggle + label:hover ~ .EN,
  input[type="checkbox"].toggle + label:hover ~ .DE {
  color: $base-color; 
  }

  /* Neu: Ändert die Farbe von .EN und .DE direkt mit der Klasse 'language-switch-btn' */
.language-switch-btn:hover .EN,
.language-switch-btn:hover .DE {
  color: $base-color; 
}
  
  input[type="checkbox"].toggle + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "EN";
    font-size: 16px;
    font-weight: 700;
    height: 28px;
    background-color: $base-color;
    color: white;
    border-radius: 2em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
    width: Hug (44px)px;
    padding: 0px 12px 0px 12px;
    gap: 10px;    
    opacity: 0px;
    rotate: -0 deg;
    z-index: 1;
  }

  .language-switch-btn{
    width: 84px;
    height: 28px;
    position: relative;
  }

  .EN {
    color: #3DCFB680;
    position: absolute;
    left: 12px;
    top: 5px;
    font-family: 'Fira Code';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
  }

  .DE {
    color:  #3DCFB680;
    position: absolute;
    right: 12px;
    top: 5px;
    font-family: Fira Code;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
  }
  
  input[type="checkbox"].toggle:focus + label::before {
    outline: 1px solid black;
  }
  
  input[type="checkbox"].toggle:checked + label::after {
    content: "DE";
    transform: translateX(100%);
  }
  
  input[type="checkbox"].toggle:disabled + label {
    color: #777;
  }
  
  input[type="checkbox"].toggle:disabled + label::before {
    background-color: #CCC;
  }
  
  input[type="checkbox"].toggle:disabled + label::after {
    background-color: #777;
  }