@media(max-width: 840px){

.logo {
    display: flex;
    z-index: 1;
  }
  
  .logo-RichardWezel {
    display: none;
  }

  .menu {
    display: flex;
    z-index: 1;
    position: fixed;
    top: 32px;
    right: 16px;
  }

  .navbar-box {
    position: fixed;
    top: 66px;
    right: 16px;
    width: 238px;
    height: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 40px 77px 40px 77px;
    gap: 10px;
    border-radius: 30px;
    border: 1px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    border: 1px solid rgba(61, 207, 182, 1);
    z-index: 1;
    transform: translateX(150%);
    transition: transform 350ms ease-out, opacity 350ms ease-out;
  }

  .slide-box.active {
    transform: translateX(0);
    opacity: 1;
  }

  .nav-links {
    flex-direction: column;
  }

}

@media(max-width: 1000px){
    .hero{
        h1{
            font-size: 62px;
        }
        h3{
            font-size: 24px;
        }
    }
}