
@import './../../styles.scss';

@media(max-width: 950px){
    main {
        article {
            h1 {
                font-size: 44px !important;
            }
        }
    }
}

@media(max-width: 800px){
    main {
        article {
            h1 {
                font-size: 32px !important;
            }
        }
    }
}

@media(max-width: 850px){
    main {
        width: 90%;
        max-width: unset;
        article {
            padding: 0; 
            align-items: start;
            margin-top: 50px;
        }
    }
}

@media(max-width: 700px){
    main {
        article {
            padding: 0 !important;
            h1 {
                font-size: 32px;
            }

            h3 {
                text-align: left;
            }
        }
    }
}

@media(max-width: 620px){
    main {
        padding: 0;
        article {
            h1 {
                font-size: 24px !important;
            }

            h2 {
                font-size: 20px
            }

            h3 {
                font-size: 16px;
            }

            h4 {
                text-align: left;
            }
        }
    }
}

@media(max-width: 600px){
    main {
        article {
            p {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 450px){
    main {
        article {
            h1 {
                font-size: 18px !important;
                text-align: left;
            }

            h2 {
                font-size: 16px !important;
                text-align: left;
            }

            h3 {
                font-size: 12px !important;
                text-align: left;
            }

            h4, ul {
                font-size: 10px !important;
                text-align: left;
            }
        }
    }
}
