
@import './../../styles.scss';

@media(max-width: 840px) {

    main {
    
        article {
            padding: 16px;

            h1 {
                font-size: 44px;
            }
        }
    }

}

@media(max-width: 500px){

    main {
    
        article {

            h1 {
                font-size: 36px;
            }
        }
    }
}

@media(max-width: 400px){

    main {
    
        article {

            h1 {
                font-size: 28px;
                text-align: left;
            }

            h2 {
                font-size: 20px;
                text-align: left;
            }

            h3 {
                font-size: 16px;
                text-align: left;
            }

            p {
                font-size: 12px;
                
            }
        }
    }
}