@import './../../styles.scss';

main {
    display: flex;
    flex-direction: column;
    // gap: 144px;
    background-color: $base-background-color;
    position: relative;

    app-landing-page,
    app-about-me,
    app-skill-set,
    app-featured-projects,
    app-contact-me,
    app-colleagues-voices,
    app-footer {
        display: flex;
        justify-content: center;
        padding-top: 144px;
    }


    app-landing-page {
        background: linear-gradient(90deg, #1C1C1C ,$base-color-dark );
        position: relative;
    }

    app-menu {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: none;
    }

    @media(max-width: 1400px){
        app-landing-page,
    app-about-me,
    app-skill-set,
    app-featured-projects,
    app-contact-me,
    app-footer {
       
        padding-top: 56px;
    }
    }
}



