@import './../../styles.scss';

main {
    display: flex;
    flex-direction: column;
    gap: 144px;
    background-color: $base-background-color;
    position: relative;

    app-landing-page,
    app-about-me,
    app-skill-set,
    app-featured-projects,
    app-contact-me {
        display: flex;
        justify-content: center;
    }

    app-landing-page {
        background: linear-gradient(90deg, #1C1C1C ,$base-color-dark );
    }

    app-menu {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: none;
    }

    @media(max-width: 1400px){
        gap: 56px; 
    }
}



