@import './../../../styles.scss';

main {
    height: 100%;
    background-color: #1C1C1C;
    font-family: $base-font;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        color: $base-color;
        margin-bottom: 48px;
        text-align: center;
    }
}
