<main translate="no" class="blue">
  <div class="container">
  
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <div class="cards">
      
      <!-- card 1 -->
      <label class="card" for="item-1" id="card-1">
        <section class="content">
          {{'COLLEAGUES-VOICES.card-1.text' | translate}}
        </section>
        <section class="author">
          <hr />
          <div> {{'COLLEAGUES-VOICES.card-1.autor' | translate}}</div>
        </section>
      </label>

      <!-- card 2 -->
      <label class="card" for="item-2" id="card-2">
        <section class="content">
          {{'COLLEAGUES-VOICES.card-2.text' | translate}}
        </section>
        <section class="author">
          <hr />
          <div>{{'COLLEAGUES-VOICES.card-2.autor' | translate}}</div>
        </section>
      </label>

      <!-- card 3 -->
      <label class="card" for="item-3" id="card-3">
        <section class="content">
          {{'COLLEAGUES-VOICES.card-3.text' | translate}}
        </section>
        <section class="author">
          <hr />
          <div>{{'COLLEAGUES-VOICES.card-3.autor' | translate}}</div>
        </section>
      </label>

    </div>

    <!-- navigation -->
    <div class="navigation">

      <app-arrow-btn class="previous-arrow-btn" (clicked)="previousCard()"></app-arrow-btn>
     
      <label class="dot" id="dot-1" for="item-1"></label>
      <label class="dot" id="dot-2" for="item-2"></label>
      <label class="dot" id="dot-3" for="item-3"></label>

      <app-arrow-btn class="next-arrow-btn" (clicked)="nextCard()"></app-arrow-btn>

    </div>
  </div>
</main>
