@media(max-width: 1680px){
    .shadow-right,
    .shadow-left {
        height: 100%;
        width: 20%;
    }
}

@media(max-width: 1300px){
    .card {
        width: 421px;
    }

    #item-1:checked ~ .cards #card-3, 
    #item-2:checked ~ .cards #card-1, 
    #item-3:checked ~ .cards #card-2 {
      transform: translatex(-100%) scale(.89);
      opacity: .4;
      z-index: 0;
    }

    #item-1:checked ~ .cards #card-2,
    #item-2:checked ~ .cards #card-3, 
    #item-3:checked ~ .cards #card-1 {
      transform: translatex(100%) scale(.89);
      opacity: .4;
      z-index: 0;
    }

    .quotes {
        top: -323px;
        left: -160px;
      }
}

@media(max-width: 1000px){
    .card {
        width: 360px;
        height: 360px;
        font-size: 18px;
        line-height: 21.6px;
        .content {
            font-size: 18px;
        }
    }

    .cards {
        height: 360px;
    }

    .shadow-right,
    .shadow-left {
        height: 100%;
        width: 7%;
    }

    .quotes {
        top: -402px;
        left: -128px;
    }
}

@media(max-width: 500px){
    .card {
        width: 296px;
        height: 306px;
        padding: 40px;
        .content {
            hyphens: auto;
            font-size: 16px;
            margin-top: 5px;

        } 
    }

    .cards {
        height: 310px;
    }

    .quotes {
        top: -357px;
        left: -96px;
    }
}

@media(max-width: 400px){
    .card {
        width: 255px;
        height: 244px;
        padding: 20px;
    }

    .cards {
        height: 261px;
        margin-bottom: 0px;
    }

    .shadow-right,
    .shadow-left {
        height: 100%;
        width: 7%;
    }

    .content {
        font-size: 18px
    }

    .author {
        div{
            font-size: 14px;
        }
    }

    .quotes {
        top: -283px;
        left: -66px;
        svg{
            width: 66.81px;
            height: 48px;
        }
    }
}

@media(max-width: 350px){
    .cards {
        height: 230px;
        .card {
            width: 202px;
            height: 208px;
            .content {
                font-size: 12px;
                line-height: 1.5;
            }
        }
    }
    
    .navigation {
        .quotes{
            top: -242px;
            left: -33px;
            svg {
                width: 54.81px;
                height: 37px;
            }
        }
    }
}