

    <main>
        <article>
            <div>
                <h1>{{'IMPRINT.header' | translate}}</h1>
                <p>Richard Wezel<br />
                Eschholzstraße 74<br />
                79115 Freiburg im Breisgau</p>
            </div>
            <div>
                <h2>{{'IMPRINT.contact.title' | translate}}</h2>
                <p>{{'IMPRINT.contact.phone' | translate}}017683140547<br />
                E-Mail: kontakt&#x40;richard-wezel.de</p>
            </div>
            <div>
                <h2>{{'IMPRINT.editor' | translate}}</h2>
                <p>Richard Wezel</p>
            </div>
        
            <p class="quelle">{{'IMPRINT.source' | translate}} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>   

            <div class="back-section" (click)="toMain()">
              
                    <div class="text">{{'IMPRINT.back' | translate}}</div>
                    <a  class="arrow-wrapper">
                        <app-arrow-btn></app-arrow-btn>
                    </a>
               
            </div>
        </article>
       
    </main>

