

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* fira-code-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/fira-code-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* fira-code-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* fira-code-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/fira-code-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* fira-code-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/fira-code-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* fira-code-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/fira-code-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* karla-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/karla-v31-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: italic;
  font-weight: 200;
  src: url('assets/fonts/karla-v31-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/karla-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/karla-v31-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/karla-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/karla-v31-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/karla-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: italic;
  font-weight: 500;
  src: url('assets/fonts/karla-v31-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/karla-v31-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/karla-v31-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/karla-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/karla-v31-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/karla-v31-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: italic;
  font-weight: 800;
  src: url('assets/fonts/karla-v31-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  scroll-behavior: smooth;
}

$base-color: rgb(61, 207, 182);
$base-color-dark: #08463B;
$base-background-color: #1C1C1C;
$base-font: 'Fira Code';
  
@mixin base-font(){
  font-family: 'Fira Code';
}

@mixin dja(){
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  position: relative;
  color: white;
  padding: 12px 24px 12px;
  border: white solid 1px;
  border-radius: 100px;
  font-family: 'Karla';
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  transition: all 0.2s ease-out;
  overflow: hidden;
  cursor: pointer;

  span::after{
    content: attr(data-text);
    position: absolute;
    left: 230%;
    width: 100%;
    text-align: center;
  }

  &:hover{
    color: $base-color;
    border: $base-color solid 1px;
  }

  &:hover .button_inner {
    animation: marqueeAnim 1.5s linear infinite;
    animation-play-state: running;
  
    @keyframes marqueeAnim{
      0%{
        transform: translateX(0);
      }
      100%{
        transform: translateX(-230%);
      }
    }
  }
}

.box-size {
  width: 568px;
  height: 568px;

  @media(max-width: 850px){
    width: 358px;
    height: 358px;
  }
}

.box-theme {
  display: flex;
  @include base-font();
  flex-direction: column;
}

.box-label {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  font-family: 'Karla';
  color: #3DCFB6;

  @media(max-width: 840px){
    font-size: 18px;
  }

}

.article-box {
  padding: 32px;
  gap: 40px;
  border-radius: 30px;
  border: 1px;
  opacity: 0px;
  background-color: #3DCFB61A;
  border: 1px solid rgb(61, 207, 182);
  height: fit-content;
  font-size: 56px;
  line-height: 44.8px;
  letter-spacing: -0.03em;
  text-align: left;

  .box-header {
    margin-bottom: 40px;
    @include base-font();
    color: rgb(61, 207, 182);
    font-family: 'Fira Code';
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.03em;
    text-align: left;

    @media(max-width: 840px){
      font-size: 56px;
      margin-bottom: 32px;
    }
  }
  
  .box-article {
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: justify;
    margin-bottom: 32px;
  }

  .promt-contact-me {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

  }
}

.striped-list {
  max-width: 880px;
  border-top: $base-color 1px solid;
  border-bottom: $base-color 1px solid;

  .striped-list-row {
    max-width: 880px;
    height: 109px;
    padding: 40px 32px 40px 32px;
    justify-content: space-between;
    display: flex;
  }

  .striped-list-line {
    border-color: $base-color;
  }
}