<section class="scroll text">
    <div>
         {{'INFINITE-AUTO-SCROLL.available' | translate}}  <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.profession' | translate}} <span class="dot">&#x2022;</span></span>  {{'INFINITE-AUTO-SCROLL.learning' | translate}} <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.based' | translate}}  <span class="dot">&#x2022;</span></span>  {{'INFINITE-AUTO-SCROLL.available' | translate}}  <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.profession' | translate}} <span class="dot">&#x2022;</span></span>  {{'INFINITE-AUTO-SCROLL.learning' | translate}} <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.based' | translate}}  <span class="dot">&#x2022;</span></span>
    </div>
    <div>
     {{'INFINITE-AUTO-SCROLL.available' | translate}}  <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.profession' | translate}} <span class="dot">&#x2022;</span></span>  {{'INFINITE-AUTO-SCROLL.learning' | translate}} <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.based' | translate}}  <span class="dot">&#x2022;</span></span>  {{'INFINITE-AUTO-SCROLL.available' | translate}}  <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.profession' | translate}} <span class="dot">&#x2022;</span></span>  {{'INFINITE-AUTO-SCROLL.learning' | translate}} <span class="dot">&#x2022;</span><span>  {{'INFINITE-AUTO-SCROLL.based' | translate}}   <span class="dot">&#x2022;</span></span>
    </div>
</section>

