<section class="scroll text">
    <div>
         Available for remote work  <span class="dot">&#x2022;</span><span>  Frontend Developer <span class="dot">&#x2022;</span></span>  Learning Backend <span class="dot">&#x2022;</span><span>  Based in Freiburg im Breisgau  <span class="dot">&#x2022;</span></span>  Available for remote work  <span class="dot">&#x2022;</span><span>  Frontend Developer <span class="dot">&#x2022;</span></span>  Learning Backend <span class="dot">&#x2022;</span><span>  Based in Freiburg im Breisgau  <span class="dot">&#x2022;</span></span>  Available for remote work  <span class="dot">&#x2022;</span>
    </div>
    <div>
         Available for remote work  <span class="dot">&#x2022;</span><span>  Frontend Developer <span class="dot">&#x2022;</span></span>  Learning Backend <span class="dot">&#x2022;</span><span>  Based in Freiburg im Breisgau  <span class="dot">&#x2022;</span></span>  Available for remote work  <span class="dot">&#x2022;</span><span>  Frontend Developer <span class="dot">&#x2022;</span></span>  Learning Backend <span class="dot">&#x2022;</span><span>  Based in Freiburg im Breisgau  <span class="dot">&#x2022;</span></span>  Available for remote work  <span class="dot">&#x2022;</span>
    </div>
</section>
