@media(max-width: 1400px){
    #skill-set {
        gap: 70px;
    }
    .skill-icon-box {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        margin-bottom: 0px;
        justify-content: start;
        margin-top: 0px;
    }
}

@media(max-width: 1200px){
    #skill-set {
        flex-direction: column;
        section:first-of-type{
            max-width: unset; 
            .box-theme {
                .box-label {
                    max-width: unset;
                }
            }
            .box-size {
                max-width: unset; 
            }
        } 
        .skill-icon-box {
            margin: 0 100px 0;
            justify-content: center;
        }
    }
}

@media(max-width: 1200px){
    #skill-set {
        .skill-icon-box {
            margin: 0;
        }
    }
}

@media(max-width: 850px){
    main {
        flex-direction: column;
        padding: 0 16px 0;
        gap: 40px;
    }

    .skill-icon-box {
        margin-bottom: 0px;
        margin-top: 0px;    
        gap: 20px;
        div {
            div {
                font-size: 16px;
            }
        }
    }

    .article-box {

        .box-header {
            font-size: 56px;
            line-height: 44.8px;
            letter-spacing: -0.03em;
            text-align: left;
        }

        .box-article {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: justify;
        }
    
        .header2 {
            font-size: 20px;
            line-height: 24px;
            text-align: left;
        }
    
        .promt-contact-me { 
            font-size: 16px;
            line-height: 19.2px;
            text-align: left;
        }
    }
}

@media(max-width: 657px){
    .skill-icon-box {
        margin-bottom: 0;
        gap: 20px;
    }
}

@media(max-width: 450px){
    main {
        flex-direction: column;
        padding: 0 16px 0;
        gap: 40px;
    }

    .skill-icon-box {
        margin-bottom: 0px;
        margin-top: 0px; 
        gap: 12px;   
        div {
            width: 97px;
            svg {
                height: 56px;
                width: 56px;
            }
            div {
                font-size: 12px;
                height: 28px;
            }
        }    
    }

    .article-box {

        .box-header {
            font-size: 34px;
            line-height: 44.8px;
            letter-spacing: -0.03em;
            text-align: left;
        }

        .box-article {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: justify;
        }
    
        .header2 {
            font-size: 18px;
            line-height: 24px;
            text-align: left;
        }
    
        .promt-contact-me { 
            font-size: 16px;
            line-height: 19.2px;
            text-align: left;
        }
    }
}