@import './../../../styles.scss';

main {
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    height: 100%;
    background-color: #1C1C1C;
    font-family: $base-font;
    color: white;
    padding: 0 96px 0 96px;
    @include dja();
    gap: 96px;
    justify-content: space-between !important;
    section:first-of-type {
        width: 100%;
        max-width: 520px;
        margin: 0 auto;
        .box-size {
            max-width: 520px;
            width: 100%;
        }
    }
}

.header2 {
    margin-bottom: 16px;
    span {
        color: $base-color;
    }
}

.promt-contact-me {
    margin-bottom: 40px;
}

// section
.skill-icon-box {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin-bottom: 40px;
    justify-content: start;
    margin-top: 48px;
   // small box
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 104px;
        svg{
            height: 64px;
            width: 64px;
            padding: 0 20px 8px 20px;
            display: flex;
            box-sizing: content-box;        
            &:hover{
                transform: scale(1.1);
                transition-duration: 150ms;
            }
        }
        div {
           text-align: center;
            height: 44px;
            font-family: $base-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            letter-spacing: -0.03em;
            text-align: center;
            display: flex
        }
        &:hover{
            color: $base-color;
        }
    }
}
